body {
    margin: 0;
    background-color: black;
}

.main {
    display: grid;
    top: 30vh;
    left: 5vw;
    width: 90vw;
    position: relative;
    grid-template-areas: 'a b' 'c d';
    grid-template-columns: 60% 40%; 
}

.title {
    color: #0dacac;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    grid-area: a;
}

.text {
    color: white;
    font-size: 1.3em;
    grid-area: c;
}

.interests-title {
    color: #0dacac;
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    grid-area: b;
}

.interests-section {
    color: white;
    grid-area: d;
}

.interest-pop-up {
    display: none;
    min-height: 40px;
    width: 150px;
    position: absolute;
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 2px;
}

.interest-entry:hover {
    cursor: pointer;
}

.interest-entry:hover .interest-pop-up {
    display: inline-block;
}

@media (max-width: 700px) {
    .main {
        grid-template-areas: 'a' 'c' 'b' 'd';
        grid-template-columns: 100%;
        top: 10vh;
    }
}
