body {
    margin: 0;
    background-color: black;
}


.home-section {
    height: 100vh;
    /* width: 100vw; */
}

.button {
    text-decoration: none;
    color: #0dacac;
    display: inline-block;
    width: 100%;
    max-width: 200px;
    text-align: center;
    border: 1px #0dacac solid;
    height: 50px;
    transition: .45s;
}

.button:hover {
    cursor: pointer;
    /* color: white; */
    background-color: #c3c3c3;
}

.button-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.button-container {
    position: relative;
    left: 5vw;
    width: 90vw;
    display: grid;
    top: 50vh;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: space-evenly;
    row-gap: 25px;
    margin-bottom: 50px;
}

.main-text {
    text-align: center;
    top: 40vh;
    position: relative;
    font-size: xx-large;
    font-size: 80px;
    color: #0dacac;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
}

@media (max-width:700px) {
    .main-text {
        top: 15vh;
    }

    .button-container {
        top: 25vh;
    }
}
